* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 70px;
    background-image: linear-gradient(to right, #3A6EC2, #240354);
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content:space-around;
}



header h1 {
    text-align: center;
    color: white;
}

#cardsContainer {
    width: 100%;
}

#searchedCities {
    display: none;
}

/* #clear-btn {
    display: none;
} */

.card {
    height: 150px;
    width: 20%;
    background-color: #33485C;
    margin: 8px;
}

.list {
    border-style: solid;
    margin-top: 2px;
    border-color: lightgray;
    border-radius: 5px;
}

.top {
    /* background-color: red; */
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
    display: none;
}


.test {
    width: 20px;
    height: 20px;
    background-color: red;
}

.fiveDay {
    background-color: white;
}

.fiveDayContainers {
    width: 20%;
    height: 200px;
    background-color: blue;
    margin: 5px;
}

#historyEl {
    padding: 0;
    display: flex;
    flex-direction: column;
    
}
footer {
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to right, #3A6EC2, #240354);
    position:absolute;
    bottom: 0;
}

.searchedCities {
    border: none;
    margin: 2px;
    border-radius: 5px;
    /* width: 20%; */
    background-color: rgb(212, 234, 241);
    text-align: center;
}

.searchedCities:hover {
    background-color: #0D6DFC ;
    color: white;
}


@media only screen and (min-width: 900px) {

    main {
        width: 100%;
        /* background-color: green; */
        display: flex;
        justify-content:space-around;
    }

    aside {
        
        /* background-color: red; */
        margin: 20px;
    }

    #mainContent {
        /* background-color: blue; */
        margin: 20px;
    }
}